body
  :font-family Helvetica, "Helvetica Neue", Calibri, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Arial, sans-serif
  :margin-left 25px

h1
  :color #595959

h2
  :color #3B3B3B
  :font-size 197%
  :margin-bottom .5em

#content
  :margin-left 100px

.description
  :font-weight bold
  :color #595959