body
  :font-family Helvetica, "Helvetica Neue", Calibri, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Arial, sans-serif
  :margin-left 3em

h1
  :color #4F6D4F

h2
  :color #3B3B3B
  :font-size 182%
  :float left
  :position relative
  :top -.75em
  :left -1em

label
  :color #595959

input.text
  :margin-bottom .25em
  :border 1px solid #9C9C9C
  :padding .25em .1em .1em .1em
  :color #3B3B3B
  :width 11.5em

select
  :margin-bottom .3em

input.submit
  :margin-top .75em

fieldset
  :padding-left .5em

#content
  :margin-left 3em

.step
  :min-height 5.55em

.description
  :margin-left .25em
  :margin-bottom .4em
  :font-weight bold
  :color #635046

.loading
  :display none

#step1 
  :margin-bottom 1.5em
  label, input.submit
    :font-size 90%

.error
  :color #6D4F4F

label.error
  :margin-left .25em

div.error
  :margin-top .25em
  :font-size 90%
  

#step2
  input.submit
    :font-size 90%
  :margin-bottom 1.5em
  select
    :width 17em

#step3
  :position relative
  :margin-bottom .75em
  input.submit
    :margin-left .5em

#uploaderUploader
  :position absolute
  :left 5.8em
  :top 2em

.fileUploadQueueItem
  :font 11px Verdana, Geneva, sans-serif
  :background-color #F5F5F5
  :border 3px solid #E5E5E5
  :margin-top .75em
  :margin-left 8em
  :padding .5em
  :width 300px
  .cancel
    :float right


.fileUploadProgress
  :background-color #FFFFFF
  :border-top 1px solid #808080
  :border-left 1px solid #808080
  :border-right 1px solid #C5C5C5
  :border-bottom 1px solid #C5C5C5
  :margin-top 10px
  :width 100%


.fileUploadProgressBar
  :background-color #4F6D4F
  
#step4
  :margin-bottom 1.5em
  label.select
    :display block
    :float left
    :text-align right
    :width 5.5em
    :margin-right .25em
  label
    :opacity .5
  select, option
    :font-size 90%

#step5
  .submit
    :font-size 200%
    :margin-top 0