!!! 1.1
%html{ 'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title Dreamhost Announcement List Importer
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/yui-reset-base.css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/application.css', :charset => 'utf-8' }
  %body
    %h1.title Welcome to the Dreamhost Announcement List Importer!
    #content
      %h2 Step 1
      %p.description Enter your Dreamhost credentials.
      
      %h2 Step 2
      %p.description Pick an announcement list to import to.
      
      %h2 Step 3
      %p.description Upload a list to import.
      
      %h2 Step 4
      %p.description Configure the import.
      
      %h2 Step 5
      %p.description Import!