!!! 1.1
%html{ 'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title Dreamhost Announcement List Importer
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/yui-reset-base.css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/application.css', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascript/jquery-1.3.2.js', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascript/jquery.uploadify.js', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascript/application.js', :charset => 'utf-8' }
    
  %body
    %h1.title Welcome to the Dreamhost Announcement List Importer!
    #content
    
      #step1.step.active
        %h2 Step 1
        %p.description Enter your Dreamhost credentials.
        %fieldset
          %label.auth Dreamhost Login:
          %br
          %input.text{ :type => 'text', :name => 'email' }
          %br
          %label.auth API Key:
          %br
          %input.text{ :type => 'text', :name => 'api-key' }
          %br
          %input.submit{ :type => 'submit', :value => 'Authenticate!', :name => 'authenticate' }
      
      #step2.step
        %h2 Step 2
        %p.description Pick the announcement list to import to.
        %fieldset
          %select{ :name => 'list' }
            %option{ :value => 'list1' } List 1
            %option{ :value => 'list2' } List 2
            %option{ :value => 'list3' } List 3
      
      #step3.step
        %h2 Step 3
        %p.description Upload a list to import.
        %input.submit{ :type => 'submit', :value => 'Upload!', :name => 'upload' }
        %select{ :name => 'filetype' }
          %option{ :value => 'csv' } Comma-separated values (.csv)
          %option{ :value => 'tsv' } Tab-separated values (.tsv)
          %option{ :value => 'xls' } Excel Spreadsheet (.xls)
          %option{ :value => 'xlsx' } XML Excel Spreadsheet (.xlsx)
          %option{ :value => 'xls' } OpenDocument Spreadsheet (.ods)
        #uploader
      
      #step4.step
        %h2 Step 4
        %p.description Configure the import.
      
      #step5.step
        %h2 Step 5
        %input.submit{ :type => 'submit', :value => 'Import!', :name => 'import' }