!!! 1.1
%html{ 'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title Dreamhost Announcement List Importer
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/yui-reset-base.css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'css/application.css', :charset => 'utf-8' }
  %body
    %h1.title Welcome to the Dreamhost Announcement List Importer!
    #content
    
      #step1.step
        %h2 Step 1
        %p.description Enter your Dreamhost credentials.
        %fieldset
          %label.auth Dreamhost Login:
          %br
          %input.text{ :type => 'text', :name => 'email' }
          %br
          %label.auth API Key:
          %br
          %input.text{ :type => 'text', :name => 'api-key' }
          %br
          %input.submit{ :type => 'submit', :value => 'Authenticate!', :name => 'authenticate' }
      
      #step2.step
        %h2 Step 2
        %p.description Pick an announcement list to import to.
      
      #step3.step
        %h2 Step 3
        %p.description Upload a list to import.
      
      #step4.step
        %h2 Step 4
        %p.description Configure the import.
      
      #step5.step
        %h2 Step 5
        %p.description Import!