!!! 1.1
%html{ 'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml' }
  %head
    %title Dreamhost Announcement List Importer
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'content-type' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/yui-reset-base.css', :charset => 'utf-8' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => 'stylesheets/application.css', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery-1.3.2.js', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery.uploadify.js', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascripts/jquery.validate.js', :charset => 'utf-8' }
    %script{ :type => 'text/javascript', :src => 'javascripts/application.js', :charset => 'utf-8' }
    
  %body
    %h1.title Welcome to the Dreamhost Announcement List Importer!
    #content
    
      #step1.step.active
        %h2 Step 1
        %p.description Enter your Dreamhost credentials.
        %form{ :id => 'authForm' }
          %fieldset
            %label{ :for => 'email' } Dreamhost Login:
            %br
            %input.text.email.required{ :type => 'text', :name => 'login', :id => 'login' }
            %br
            %label{ :for => 'apiKey' } API Key:
            %br
            %input.text.required{ :type => 'text', :name => 'apiKey', :id => 'apiKey' }
            %br
            %input.submit{ :type => 'submit', :value => 'Authenticate!', :name => 'authenticate', :id => 'authenticate' }
            %img.loading{ :src => 'images/loading.gif', :alt => '' }
            %br
            .error
      
      #step2.step
        %h2 Step 2
        %p.description Enter the announcement list to import to.
        %fieldset
          %input.text{ :type => 'text', :name => 'alist', :id => 'alist', :disabled => true }
          %input.submit{ :type => 'submit', :value => 'Check', :name => 'check-list', :id => 'check-list', :disabled => true }
      
      #step3.step
        %h2 Step 3
        %p.description Upload a list to import.
        %input.submit{ :type => 'submit', :value => 'Upload!', :name => 'upload', :id => 'upload', :disabled => true }
        #uploader
      
      #step4.step
        %h2 Step 4
        %p.description Configure the import.
        %fieldset
          %label.select{ :for => 'email-field' } Email field:
          %select{ :name => 'email-field', :id => 'email-field', :disabled => true }
            %option{ :value => '1' } Name
            %option{ :value => '2', :selected => true } Email
            %option{ :value => '3' } Birthdate
          %label email@example.com
          %br
          %label.select{ :for => 'name-field' } Name field:
          %select{ :name => 'name-field', :id => 'name-field', :disabled => true }
            %option{ :value => 'none' } None
            %option{ :value => '1', :selected => true } Name
            %option{ :value => '2' } Email
            %option{ :value => '3' } Birthdate
          %label Johnny Appleseed
      
      #step5.step
        %h2 Step 5
        %input.submit{ :type => 'submit', :value => 'Import!', :name => 'import', :id => 'import', :disabled => true }